.user-container {
    position: absolute;
    background-color: #333;
    top: -200px;
    margin-right: 2.1rem;
    box-sizing: border-box;
    padding-left: 2rem 9%;
    width: 130px;
    height: 165px;
    clip-path: polygon(0 6%, 45% 6%, 53% 0, 59% 6%, 100% 6%, 100% 100%, 0 100%);
}

.active {
    top: 75px;
}

.user-container .user-menu-content{
    padding-top: 8px;
    padding-bottom: 8px;
    color: var(--violet);
    font-size: 1.3rem;
    text-align: center;
    border-bottom: 1px white solid;
}


.user-container :first-child{
    padding-top: 15px;
}

.user-container .user-menu-content a:hover{
    color: var(--violet);
}

.user-container .user-menu-content a{
    color:#fff;
}

#user-btn {
    color: var(--violet);
}

#user-btn:hover {
    color: #fff;
}